<div id="reg-wrap">
    <img src="dogiconone.svg" alt="">
    <h1>With each addtional Paw Print, we step closer to dog freedom.</h1>
    <img src="dogiconone.svg" alt="" id="mirror-signed-icon">

</div>
<a href="https://youtu.be/rxBS1E0KZQU?t=1m4s"><p>Incase you need some more proof of the magic of dog parks.</p></a>
<ul>
    {{#names}}
    <p>{{first}}, {{last}}, {{age}}, {{city}}, {{url}}</p>
    {{/names}}
</ul>
<a href="/logout"><p>[ Sign Out ]</p></a>
<a href="/editprofile"><p>[ Edit your profile! ]</p></a>
<a href="/signed"><p>[ See the other signers here ]</p></a>
